<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/style.css' | url }}" >

  <title>{{ title }}</title>
</head>
<body class="overflow-x-hidden">
  {# <canvas id="canvas" class="absolute z-0 w-screen h-screen"></canvas> #}

  <div class="md:container md:mx-auto px-8 md:px-32 z-20">
    <div class="absolute invisible lg:visible lg:right-16 lg:top-8 lg:w-16 lg:h-12 flex flex-col">
      <span class="text-xs self-center uppercase">gravity</span>
      <label for="gravity" class="flex-1 flex p-1 items-center cursor-pointer">
        <!-- toggle -->
        <div class="relative w-full h-full">
          <!-- input -->
          <input type="checkbox" id="gravity" onclick="turnOnGravity(this.checked)" class="sr-only">
          <!-- line -->
          <div class="block border-2 border-yellow-200 w-full h-full rounded-full"></div>
          <!-- dot -->
          <div class="dot absolute inset-y-0 left-0 bg-yellow-200 w-1/2 p-2 rounded-full transition"></div>
        </div>
      </label>
    </div>

    <div>
      {% include "partials/header.njk" %}

      <div class="grid grid-cols-5 grid-rows-layout gap-x-0 gap-y-4 justify-center">
        {% include "partials/nav.njk" %}
        
          {{ content | safe }}
       
      </div>
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.17.1/matter.min.js"></script>
  <script src="{{ '/static/js/gravitymatter.js' | url }}" ></script>

  {# <script>
    const skewDiv = document.querySelectorAll('.skew')
    Array.from(skewDiv).forEach(letter => {
      const x = Math.floor(Math.random()*30)
      const y = Math.floor(Math.random()*30)
      letter.style.transform = `skew(${0}deg, ${-15}deg)`
    })
  </script> #}

  {# <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-quadtree@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3-force@3"></script>
  <script src="{{ '/static/js/gravity.js' | url }}"></script> #}

  {# <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script> #}
  {# <script>
    const enterSite = (e) => {
      e.preventDefault()
      const name = e.target[0].value
      socket.emit('new user', name)
      sessionStorage.setItem('name', name)
      e.target.style.display = 'none'
      window.addEventListener('mousemove', emitMouse)
    }

    const emitMouse = (e) => {
      const pos = {user: sessionStorage.getItem('name'), x: e.x, y: e.y}
      socket.emit('user move', pos)
    }

    const form = document.getElementById('nameForm')
    form.addEventListener('submit', enterSite)

    const drawMouses = () => {
      ctx.clearRect(0, 0, canvas.width, canvas.height)
      Object.keys(userMouses).forEach((user) => {
        ctx.fillStyle = 'black'
        ctx.font = '24px serif'
        const u = userMouses[user]
        ctx.fillText(user, u.x, u.y)
        ctx.fillRect(u.x, u.y, 10, 10)
      })
      
    }
  </script> #}
  {# <script>
    const socket = io('https://pcd-socket-server.herokuapp.com/')

    const userMouses = {}

    const usersDiv = document.getElementById('users')
    const canvas = document.getElementById('mouses')
    canvas.width = window.innerWidth
    canvas.height = window.innerHeight
    const ctx = canvas.getContext('2d')
    socket.on('new user', (user) => {
      const p = document.createElement('p')
      p.textContent = user
     
    })
    socket.on('user move', (pos) => {
      userMouses[pos.user] = {x: pos.x, y: pos.y}
      drawMouses()
    })

    
  </script> #}
        
</body>
</html>