@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #FDE68A;
  }
  #pcd {
    position: 'absolute';
    transform: 'translate(-10px, -10px)';
  }
  .speaker-img img {
    border: #FDE68A 3px solid;
    border-radius: 100%
  }

  p {
    padding: 0.5rem 0 0.5rem 0;
  }
  
  iframe {
    padding: 1rem 0 1rem 0;
  }

  .markdown-list {
    color: 'red';
    font-size: 100%;
  }

}

.markdown-list li::marker {
  color: 'red';
  font-size: 100%;
}
