<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PCD India</title>

    <link rel="stylesheet" type="text/css" href="{{ '/style.css' | url }}">
    <style>
      button {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
      }

      .text-shadow {
        text-shadow: 0 0 0.2em blue;
      }

      .purple-test {
        background-color: #D7D5EB;
      }

    </style>

    <script src="{{ '/static/js/libs/p5.min.js' | url }}"></script>
    <script src="{{ '/static/js/libs/p5.sound.min.js' | url }}"></script>

    <script src="{{ '/static/js/nav/camera.js' | url }}"></script>
    <script src="{{ '/static/js/nav/user.js' | url }}"></script>
    <script src="{{ '/static/js/nav/door.js' | url }}"></script>
    <script src="{{ '/static/js/nav/building.js' | url }}"></script>
  </head>

  <body>
    <div id="canvas" class="overflow-hidden">
    </div>
    <div id="loader">
      {# {% image "src/static/images/group2.png", "PCD 2021 group photo!", "(min-width: 30em) 50vw, 100vw" %} #}
    </div>

    {# modals for user pages #}
    <div id="modal">
      {% for page in pages %}
      <div id="room{{loop.index-1}}" class="hidden absolute inset-0 w-full h-screen  ">
        <div class="w-full h-full overflow-scroll 
                    border-4 border-black
                    bg-white">
          
          <div class="flex h-full justify-between">
            <div class="flex flex-col justify-evenly py-12 px-24">
              <div class="">
                <span>welcome to</span>
                <br>
                <span class="text-4xl font-bold uppercase">
                  {{ page.name }}
                </span>
                <span>'s room</span>
                <br>
                <span class="inline-block text-4xl font-bold uppercase text-yellow-100
                            transform -scale-y-100 -translate-y-6 translate-x-4 skew-x-48"> {{ page.name }} </span>
              </div>
              <div class="text-lg lowercase">
                <p>She calls <span class="font-bold">{{ page.city }}</span> home</p>
                <p>She works with
                  <ul>
                    {% for interest in page.interests %}
                    <li class="font-bold"><span>{{ interest }}</span></li>
                    {% endfor %}
                  </ul>
                </p>
                <p>She is inspired by
                  <ul>
                    {% for inspo in page.inspirations %}
                    <li class="font-bold"><span>{{ inspo }}</span></li>
                    {% endfor %}
                  </ul>
                </p>
              </div>
            </div>

            {# <div class="h-1/2 w-1/2 flex-none self-center">
              <embed class="overflow-hidden h-full w-full pointer-events-none " src={{page.src}} />
            </div> #}
          </div>

          {# <div class="absolute inset-y-0 right-0 w-full h-full -z-10"> #}
          {# </div> #}
        
            {# <button onclick="closeModal(this)">X</button> #}
        </div>
        
        
      </div>
      {% endfor %}
      <div id="empty-room" class="hidden absolute inset-0 flex w-screen h-screen items-center justify-center">
        <div class="w-10/12 h-5/6 overflow-scroll p-4
                    border-4 border-black bg-white shadow">
          <div class="flex justify-between">
            <p class="bg-yellow-300 uppercase px-2"> empty room </p>
            <button onclick="closeModal(this)">X</button>
          </div>
        </div>
      </div>
    </div>

    {# game navigation control for mobile #}
    <div id="nav-mobile" class="hidden md:hidden absolute inset-x-0 bottom-0
                flex justify-around py-4
                select-none">
      <div class="w-24 h-24 bg-purple shadow p-2
                  grid grid-rows-3 grid-cols-3
                  rounded-full border border-black">
      
        <button class="nav-button col-start-2 row-start-1 outline-none bg-white rounded-full" 
                ontouchend="buttonReleased(UP_ARROW)" ontouchstart="buttonPressed(UP_ARROW)">
                {% imagemd "src/static/images/up-arrow.png", "up arrow", "(min-width: 30em) 50vw, 100vw" %}
        </button>
        <button class="nav-button col-start-3 row-start-2 outline-none bg-white rounded-full" 
                ontouchend="buttonReleased(RIGHT_ARROW)" ontouchstart="buttonPressed(RIGHT_ARROW)">
                {% imagemd "src/static/images/right-arrow.png", "right arrow", "(min-width: 30em) 50vw, 100vw" %}
        </button>
        <button class="nav-button col-start-1 row-start-2 outline-none bg-white rounded-full" 
                ontouchend="buttonReleased(LEFT_ARROW)" ontouchstart="buttonPressed(LEFT_ARROW)">
                {% imagemd "src/static/images/left-arrow.png", "left arrow", "(min-width: 30em) 50vw, 100vw" %}
        </button>
        <button class="nav-button col-start-2 row-start-3 outline-none bg-white rounded-full" 
                ontouchend="buttonReleased(DOWN_ARROW)" ontouchstart="buttonPressed(DOWN_ARROW)">
                {% imagemd "src/static/images/down-arrow.png", "down arrow", "(min-width: 30em) 50vw, 100vw" %}
        </button>
      </div>
    </div>

    <script src="{{ '/static/js/nav/sketch.js' | url }}"></script>
    <!-- <script src="template.js"></script> -->
    <script src="{{ '/static/js/loadingSketch.js' | url }}"></script>
    <script>
      let loadingSketch = new p5(LoadingSketch, 'loader');
      document.addEventListener('appLoaded', () => {
        loadingSketch.remove(); 
        document.body.classList.add('loaded'); 
      });

      const closeModal = (btn) => {
        const modal = btn.parentNode.parentNode
        modal.classList.toggle('hidden')
      }
      const handleLongPress = (e) => {
        e.preventDefault()
      } 
      const navButtons = document.querySelectorAll('.nav-button')
      navButtons.forEach(el => {
        el.addEventListener('contextmenu', handleLongPress)
      })

      function buttonPressed(keyCode) {
        let key
        switch(keyCode) {
          case LEFT_ARROW:
            key = "ArrowLeft"
            break
          case RIGHT_ARROW:
            key = "ArrowRight"
            break
          case UP_ARROW:
            key = "ArrowUp"
            break
          case DOWN_ARROW:
            key = "ArrowDown"
            break
        }
        let keyEvent = new KeyboardEvent('keydown', {
          keyCode: keyCode, 
          key: key, 
          code: key,
          bubbles: true,
          cancelable: true  
        })
        document.body.dispatchEvent(keyEvent)
      }
      function buttonReleased(keyCode) {
        let key
        switch(keyCode) {
          case LEFT_ARROW:
            key = "ArrowLeft"
            break
          case RIGHT_ARROW:
            key = "ArrowRight"
            break
          case UP_ARROW:
            key = "ArrowUp"
            break
          case DOWN_ARROW:
            key = "ArrowDown"
            break
        }
        let keyEvent = new KeyboardEvent('keyup', {
          keyCode: keyCode, 
          key: key, 
          code: key,
          bubbles: true,
          cancelable: true  
        })
        document.body.dispatchEvent(keyEvent)
      }
    </script>
  </body>

  
</html>
