<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PCD India</title>

    <link rel="stylesheet" type="text/css" href="{{ '/style.css' | url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/extra.css' | url }}">

    <script src="{{ '/static/js/libs/p5.min.js' | url }}"></script>
    <script src="{{ '/static/js/libs/p5.sound.min.js' | url }}"></script>

    <script src="{{ '/static/js/nav/camera.js' | url }}"></script>
    <script src="{{ '/static/js/nav/user.js' | url }}"></script>
    <script src="{{ '/static/js/nav/door.js' | url }}"></script>
    <script src="{{ '/static/js/nav/building.js' | url }}"></script>
  </head>

  <body>
    <div id="modal">
      {% for page in pages %}
      <div id="room{{loop.index-1}}" class="hidden absolute flex w-screen h-screen items-center justify-center">
        <div class="w-10/12 h-5/6 overflow-scroll p-4
                    border-4 border-black bg-white shadow">
          <div class="flex justify-between">
            <p class="bg-yellow-300 uppercase px-2"> {{ page.name }} </p>
            <button onclick="closeModal(this)">X</button>
          </div>
          <embed class="h-full w-full" src={{page.src}} />
        </div>
      </div>
      {% endfor %}
    </div>

    

    <script src="{{ '/static/js/nav/sketch.js' | url }}"></script>
    <!-- <script src="template.js"></script> -->
    <script>
      const closeModal = (btn) => {
        const modal = btn.parentNode.parentNode
        modal.classList.toggle('hidden')
      }
    </script>
  </body>

  
</html>
