---
layout: 'layout'
title: 'PCD India'
---

<div class="grid grid-cols-5 gap-4">
  {% for event in schedule %}
    <div class="grid grid-cols-2 grid-rows-2 gap-2">
      <div>{{ event.start_time }}</div>
      <div>{{ event.end_time }}</div>
      <div class="col-span-2">{{ event.desc }}</div>
    </div>

  {% endfor %}
</div>
