---
layout: layout.njk
title: PDC India
---

<div class="grid grid-cols-3 gap-4">
  {% for speaker in speakers %}
    <div class="grid">
      <div> {{ speaker.name }} </div>
      <div><img src={{ speaker.image }} alt=""></div>
      <div> {{ speaker.intro }} </div>
    </div>
  {% endfor %}
</div>

