<header class="flex justify-between py-8">
  <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold">PCD India</h1>
  <label for="gravity" class="flex items-center cursor-pointer">
    <!-- toggle -->
    <div class="relative">
      <!-- input -->
      <input type="checkbox" id="gravity" onclick="turnOnGravity(this.checked)" class="sr-only">
      <!-- line -->
      <div class="block bg-black w-14 h-8 rounded-full"></div>
      <!-- dot -->
      <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
    </div>
  </label>
</header>