<div class="flex flex-column p-4">
  <ul class="text-xl">
    <li class="p-2"><a href="{{ '/' | url }}" >About</a></li>
    <li class="p-2"><a href="{{ '/schedule' | url }}">Schedule</a></li>
    <li class="p-2"><a href="{{ '/speakers' | url }}">Speakers</a></li>
  </ul>
</div>