<div class="flex flex-column p-4">
  <ul class="text-xl">
    <li class="p-2"><a href="/">About</a></li>
    <li class="p-2"><a href="/schedule">Schedule</a></li>
    <li class="p-2"><a href="/speakers">Speakers</a></li>
  </ul>
</div>