<ul class="flex p-2 md:p-4 col-span-full justify-evenly items-center text-xl">
  <a class="py-1 px-1 md:py-2 md:px-4 border-4 md:border-8 border-yellow-200" href="{{ '/' | url }}">
    <li>About</li>
  </a>
  <a class="py-1 px-1 md:py-2 md:px-4 border-4 md:border-8 border-yellow-200" href="{{ '/schedule' | url }}">
    <li>Schedule</li>
  </a>
  <a class="py-1 px-1 md:py-2 md:px-4 border-4 md:border-8 border-yellow-200" href="{{ '/speakers' | url }}">
    <li>Speakers</li>
  </a>
</ul>